.dropdown-toggle:hover {
  background-color: #ff4081; 
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 55px;
}


.dropdown-menu {
  margin-top: 6px;
}


.dropdown:hover .dropdown-menu {
   display: block !important;
}
