<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-info text-white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/"><img class="logo" src="assets/AI_logo_2015.png" alt="Agente Imovel logo"></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/search" routerLinkActive="active">Search</a>
      </li>
    </ul>
<a *ngIf="isAuth" class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
<button *ngIf="!isAuth" md-raised-button (click)="openDialog()" color="accent">Sign In</button>
      <button *ngIf="isAuth" md-raised-button (click)="logout()" color="accent">Sign Out</button>
  </div>
</nav>
