<nav class="navbar navbar-toggleable-md navbar-inverse bg-info fixed-top">
  <button class="navbar-toggler navbar-toggler-right"
    type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">Agente Imovel</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownBuy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy</a>
            <div class="dropdown-menu" aria-labelledby="dropdownBuy">
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
            </div>
          </li>
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownSell" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sell</a>
            <div class="dropdown-menu" aria-labelledby="dropdownSell">
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
            </div>
          </li>
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownRent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rent</a>
            <div class="dropdown-menu" aria-labelledby="dropdownSell">
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
              <a class="dropdown-item" href="#">Lorem ipsum dolor sit amet, consectetur</a>
            </div>
          </li>
    </ul>
    <button class="" md-raised-button color="accent" routerLink=".">Sign In</button>
  </div>
</nav>
<!--       <button (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" md-button color="accent" [mdMenuTriggerFor]="menuRent">Rent</button>
        <md-menu #menuRent="mdMenu" [overlapTrigger]="true">
          <button md-menu-item>Item 1</button>
          <button md-menu-item>Item 2</button>
        </md-menu>

                <button (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" md-button color="accent" [mdMenuTriggerFor]="menuBuy">Buy</button>
        <md-menu #menuBuy="mdMenu" [overlapTrigger]="true">
          <button md-menu-item>Item 1</button>
          <button md-menu-item>Item 2</button>
        </md-menu>

                <button (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" md-button color="accent" [mdMenuTriggerFor]="menuSell">Sell</button>
        <md-menu #menuSell="mdMenu" [overlapTrigger]="true">
          <button md-menu-item>Item 1</button>
          <button md-menu-item>Item 2</button>
        </md-menu>-->