.custom-icon {
  border: 1px solid white;
  background-color: green;
  border-radius: 4px;
  color:white;
  padding: 1px 3px ;
  cursor: pointer;
}

.over {
  background-color: red;
  z-index: 2000;
}

.draw-button {
  position:absolute;
  margin-left:10px;
  margin-top:10px;
  z-index: 2000;
}

.listing-details {
  z-index: 1000; 
  margin:0 -80px;
}

.marker-details {
  margin:0 -85px;
}

.z-100 {
  z-index: 100;
}

.c-white {
  color:white;
}