    <div class="container-fluid w-100" style="padding: 0;">
      <div class="row">
        <div class="col-md-6">
          <div style="height:300px;width:400px; margin:auto">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let photo of listing.photos">
                <img style="width:100%;" [src]="photo" alt="Property photo">
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
        <div class="col-md-6">
          <ngui-map #map [zoom]="17" center="{{listing.location.coordinates[1]}}, {{listing.location.coordinates[0]}}" class="details-map-property">
            <marker position="{{listing.location.coordinates[1]}}, {{listing.location.coordinates[0]}}">
            </marker>
          </ngui-map>
        </div>
      </div>
    </div>

    <ul class="list-group details-list">
      <li class="list-group-item ">
        <div class="container-fluid w-100">
          <div class="row">
            <div class="col-md-6">
              <i class="fa fa-building-o fa-3x" aria-hidden="true"></i>
              <span class="font-large">{{listing.propertyType}}</span> for
              <span class="font-large">{{listing.listingType}}</span>
              <button md-raised-button color="accent" (click)="toggleFavorite()">
                <span class="glyphicon glyphicon-upload"></span> 
                <span *ngIf="listing.isFavorite">Delete from favorites</span>
                <span *ngIf="!listing.isFavorite">Save to favorites</span>
              </button>
            </div>
            <div class="col-md-6">
              <span class="font-large">R$ {{listing.price | largeNumber}} </span>
              <br> {{listing.size}} m&#178; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R$ {{listing.priceSqm | largeNumber}} / m&#178;
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container-fluid w-100">
          <div class="row">
            <div class="col-md-6">
              <table class="table table-striped">
                <tr>
                  <td>City</td>
                  <td>{{listing.city}}, {{listing.state}}</td>
                </tr>
                <tr>
                  <td>Neighborhood</td>
                  <td>{{listing.neighbourhood}}</td>
                </tr>
                <tr>
                  <td>Street</td>
                  <td>{{listing.street}} {{listing.streetNumber}}</td>
                </tr>
                <tr>
                  <td>Zip</td>
                  <td>{{listing.zip}}</td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table table-striped">
                <tr>
                  <td>Suites <i class="fa fa-bed" aria-hidden="true"></i> + <i class="fa fa-bath" aria-hidden="true"></i></td>
                  <td>{{listing.suites}}</td>
                </tr>
                <tr>
                  <td>Bedrooms <i class="fa fa-bed" aria-hidden="true"></i></td>
                  <td>{{listing.bedrooms}}</td>
                </tr>
                <tr>
                  <td>Bathrooms <i class="fa fa-bath" aria-hidden="true"></i></td>
                  <td>{{listing.bathrooms}}</td>
                </tr>
                <tr>
                  <td>Parking <i class="fa fa-car" aria-hidden="true"></i></td>
                  <td>{{listing.parking}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </li>
    </ul>
