/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

*:focus {
    outline: 0 !important;
}

body {
  font-family: Roboto;
  padding-top: 70px;
}

body, html {
    height: 100%;
}

#left {
    position: fixed;
    top: 0;
    bottom: 0;
}
