#left {
    position: fixed;
    top: 0;
    bottom: 0;
  background-image: url('/assets/house.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.border {
  border: 1px solid black;
   background-position: center; 
}