<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-sm-6 col-2 py-2 d-flex align-items-center justify-content-center" id="left">
      <h1 class="hidden-xs-down"></h1>
      <form class="form-inline">
        <label class="mr-sm-2" for="inlineFormCustomSelect"></label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected value="buy">Buy</option>
    <option value="rent">Rent</option>
    <option value="newDevelopment">New Development</option>
  </select>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <input class="form-control" type="text" placeholder="Search by City or Street">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col offset-2 offset-sm-6 py-2">
      <app-home-right></app-home-right>
    </div>
  </div>
</div>
