<div class="container-fluid">
  <h1>DashBoard</h1>
  <md-tab-group>

    <md-tab label="My Profile">
      <!--<i class="fa fa-user" aria-hidden="true"></i>-->
      <br>
      <h5>My Profile</h5><br>
      <form #myForm="ngForm">
        <p>Email: isak.engdahl@gmail.com <a href="#">Edit</a></p>
        <p>Password: ******** <a href="#">Edit</a></p>
        <md-input-container>
          <input mdInput type="text" placeholder="Your Full Name" [(ngModel)]="user.fullName" name="fullName">
        </md-input-container><br>
        <md-input-container>
          <input mdInput type="text" placeholder="Phone" [(ngModel)]="user.phoneNumber" name="phoneNumber">
        </md-input-container><br>
  <md-select placeholder="User Type" [(ngModel)]="user.role" name="role">
    <md-option value="home_seller">Home Seller</md-option>
    <md-option value="both_buyer_and_seller">Both Buyer and Seller</md-option>
    <md-option value="renter">Renter</md-option>
    <md-option value="home_owner">Home Owner</md-option>
    <md-option value="renter_Rentee">Other/Just Looking</md-option>
    <md-option value="real_estate_pro">Real Estate Pro</md-option>
    <md-option value="renter_rentee">Renter/Rentee</md-option>
  </md-select><br><br>
        <button md-raised-button color="accent" (click)="saveProfile()">Save Profile</button> <!-- Should be disabled, only enabled when user start to edit something -->
        <button md-raised-button color="accent" (click)="cancel()">Cancel</button> <!-- Should only be displayed if user start changing anything. -->
        <md-error>{{ error }}</md-error>

      </form><br>
    </md-tab>

    <md-tab label="My Listings">
      <!--<i class="fa fa-files-o" aria-hidden="true"></i>-->
      <h5>My Listings</h5>
    </md-tab>

    <md-tab label="Favorites">
      <!--<i class="fa fa-heart" aria-hidden="true"></i>-->
      <h5>Saved Listings</h5>
      <h5>Saved Searches</h5>
    </md-tab>
  </md-tab-group>
</div>
