.padding-70 {
  padding-top: 70px;
}

.main {
  padding-top: 10px;
}

.delete-fav {
  position: absolute;
  top: 5%;
  left: 80%;
}

.saved-search {
  clear:left;
}

.cursor-pointer {
  cursor:pointer;
}