.custom-icon {
  border: 1px solid white;
  background-color: green;
  border-radius: 4px;
  color:white;
  padding: 1px 3px ;
  cursor: pointer;
}

.over {
  background-color: red;
}

.list-card-small {
  position:absolute;
  width:200px;
  float:left;
  margin:1%;

}