<ngui-map #map [zoom]="listingService.zoom" [center]="listingService.center" (mouseover)="listingService.listHoverItem=-1" (mapReady$)="onMapReady($event)"
  style="height:100%">
  <drawing-manager #drawing  [drawingControl]="true" [drawingControlOptions]="{
      drawingModes: ['polygon']
      }" [polygonOptions]="{
      strokeColor: 'red',
      fillColor: 'red',
      strokeWeight: 2,
      editable: true,
      zIndex: 1
    }"></drawing-manager>
  <custom-marker (click)="openDetails(i)" *ngFor="let listing of listingService?.listings; let i=index" [position]="[listing.location.coordinates[1], listing.location.coordinates[0]]">
    <div>
      <span 
        mouseWheel
        [class.over]="showMapDetails[i] || listingService.listHoverItem===i" 
        (mouseover)="markerMouseOver($event, i)" 
        (mouseout)="showMapDetails[i]=false"  
        (mouseWheelUp)="showMapDetails[i]=false"
        (mouseWheelDown)="showMapDetails[i]=false"
        class="custom-icon">
        {{toThousand(listing.price)}}
        
      </span>
    </div>
    <div #markerDetails id="markerDetails{{i}}" style="z-index: 1000; margin:0 -80px" 
      *ngIf="(showMapDetails[i] || listingService.listHoverItem===i)"
      
      class="card list-card">

      <img class="photo" [src]="listing.photos[0]" alt="Card image">
      <h4 class=" photo-text">R$ {{listing.price | largeNumber}}</h4>
      <div class="photo-description">
        <!--card-img-overlay-->
        <div style="float:left; padding:5px">
          <img style="height:20px" src="/assets/{{listing.propertyType}}.svg"> {{listing.listingType}} <br>

        </div>
        <div style="float:right;padding:5px">
          <img src="/assets/bed.svg" style="width:19px;margin-bottom:8px"> {{listing.bedrooms}} <img src="/assets/bath.svg"
            style="width:19px;margin-bottom:8px"> {{listing.bathrooms}}
        </div>

      </div>
    </div>

  </custom-marker>

  <custom-marker *ngIf="isPolygon" [position]="polygonRemovePosition">
    <span (click)="deleteSelectedOverlay()" class="fa-stack fa-lg" style="z-index: 100">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-close fa-stack-1x" style="color:white"></i>
      </span> </custom-marker>

</ngui-map>
<!--
<button (click)="deleteSelectedOverlay()">Delete Selected Overlay</button>
<code>
  <br/><b>HTML</b>

  <br/><b>deleteSelectedOverlay function</b>

</code>-->


<div style="position:absolute;z-index:1000;display:none; background-color:red" id="test">HERE!!


</div>