<app-filter-list></app-filter-list>
<div class="container-fluid h-100" style="margin-top: 180px; margin-right: 0; padding: 0;">
  <div class="row h-100" style="margin-right: 0; margin-left:0;">
    <div class="col-sm-6 col-12 text-white py-2 d-flex align-items-center justify-content-center">
      <app-list></app-list>
    </div>
    <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2 hidden-xs-down" id="left" style="margin-top: 117px; margin-bottom: 0; padding:0;">
      <app-google-maps></app-google-maps>
    </div>
  </div>
</div>