<app-filter-list></app-filter-list>
<div class="container-fluid h-100 extraspace" style="margin-top: 135px; margin-right: 0; padding: 0;">
  <div class="row " style="margin-right: 0; margin-left:0;">
          
    <div class="col-sm-6 col-12 text-white d-flex align-items-center justify-content-center" style="padding: 0;">

      <div id="wrap2">
      <app-list></app-list>
    </div>
    </div>
    <div class="col-sm-6 col-12 offset-0 offset-sm-6 hidden-xs-down" id="left" style="margin-top: 80px; margin-bottom: 0; padding:0;">
      <app-map></app-map>
    </div>
  </div>
</div>