<app-filter-list></app-filter-list>
<div class="container-fluid h-100 extraspace" style="margin-top: 170px; margin-right: 0; padding: 0;">
  <div class="row h-100" style="margin-right: 0; margin-left:0;">       
    <div class="col-sm-6 col-12 text-white py-2  align-items-center justify-content-center">
      <div id="wrap2">
      <app-list></app-list>
    </div>
    </div>
    <div class="col-sm-6 col-12 offset-0 offset-sm-6 py-2 hidden-xs-down" id="left" style="margin-top: 117px; margin-bottom: 0; padding:0;">
      <app-google-maps></app-google-maps>
    </div>
  </div>
</div>
<!--
<div class="container-fluid h-100" id="margintop" style="margin-top:174px;">
  <div class="row h-100">
    <div class="col-sm-6 col-12 text-white py-2 align-items-center justify-content-center" style="border:1px solid red">
        <app-list></app-list>
         

    </div>

    <div class="no-padding col-sm-6 col-12    py-2" style="border:1px solid black">
 
      <app-google-maps></app-google-maps>
      right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>right<p>
    </div>
  </div>
</div>-->
