
<div class="container-fluid h-100" id="home-container" >
  <div class="row h-100">
    <div class="col-sm-6 col-12 text-white py-2 d-flex align-items-center justify-content-center" id="left">
      <md-card class="background-white-opaque">
        <form>
          <md-select color="primary" name="typeOfSearch" [(ngModel)]="selectedValue" >
            <md-option *ngFor="let type of typeOffer" [value]="type.value">
              {{ type.viewValue }}
            </md-option>
          </md-select><br><br>
          <md-input-container>
  
          <input places-auto-complete autofocus type="text" autocorrect="off" autocapitalize="off" spellcheck="off" #addressSearchBox 
              id="addressSearchBox" name="address" (click)="this.addressSearchBox.value = ''" mdInput placeholder="Search by Street, Neighborhood or City"
              (place_changed)="placeChanged($event)" 
              [types]="['geocode']"
              [componentRestrictions]='{country: "br"}'
               />

          </md-input-container>
          <button md-raised-button (click)="navigate()" color="primary">Search</button>
        </form>
      </md-card>

    </div>

    <div class="no-padding col-sm-6 col-12 offset-0 offset-sm-6 py-2">
      <app-home-right></app-home-right>
    </div>
  </div>
</div>