body,
html {
  height: 100%;
}

@media (min-width: 576px) {
  #left {
    position: fixed;
    top: 50px;
    bottom: 0;
  }
}

md-card {
  padding: 10px;
  color: black;
  border-radius: 8px;
}

md-input-container {
  width: 300px;
}

.no-padding {
  padding: 0;
}

body, html {
  height: 100%;
}

@media (min-width: 576px) {
  #left {
    position: fixed;
    top: 50px;
    bottom: 0;
  }
}

#left {
  background-image: url('/assets/copacabana2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-container {
  margin-top:70px;
}

.background-white-opaque {
  background-color: rgba(255, 255, 255, 0.8);
}

