<md-card id="filterSearchCard">
  <form  #myForm="ngForm" class="example-form">
    <md-input-container>
      <input type="text" autocorrect="off" autocapitalize="off" spellcheck="off" #addressSearchBox [(ngModel)]="newSearch.address" id="addressSearchBox" name="address" (click)="this.addressSearchBox.value = ''" mdInput placeholder="Search by Street, Neighborhood or City"
        value="Copacabana, Rio de Janeiro, RJ">
    </md-input-container>
<!-- <input  placeholder="Min Price" [formControl]="minPriceControl"  name="minPrice1">-->
    <ng-template #priceRange><div  (click)="$event.stopPropagation()">
  <table class="example-full-width" cellspacing="0" ><tr>
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Min Price" [(ngModel)]="newSearch.minPrice" [formControl]="minPriceControl" pattern="\d+" name="minPrice">
      <md-error>Please enter number</md-error>
    </md-input-container></td> 
    <td><md-input-container class="example-full-width">
      <input mdInput placeholder="Max Price" [(ngModel)]="newSearch.maxPrice" [formControl]="maxPriceControl" pattern="\d+" name="maxPrice">
      <md-error>Please enter number</md-error>
    </md-input-container></td>
  </tr></table>
  </div>
    </ng-template>

    <button md-raised-button placement="bottom" #p1="ngbPopover" (document:click)="p1.close()"  (click)="$event.stopPropagation();p2.close();p3.close()" [ngbPopover]="priceRange">Any Price <i class="material-icons">expand_more</i>

    </button>
   
    <ng-template #beds>
      <md-radio-group class="example-radio-group" name="bedrooms" (change)="listingService.update()" (click)="$event.stopPropagation()" [(ngModel)]="newSearch.bedrooms">
        <md-radio-button class="example-radio-button" value="0">
          Studio+
        </md-radio-button>
        <md-radio-button class="example-radio-button" value="1">
          1+
        </md-radio-button>
        <md-radio-button class="example-radio-button" value="2">
          2+
        </md-radio-button>
        <md-radio-button class="example-radio-button" value="3">
          3+
        </md-radio-button>
        <md-radio-button class="example-radio-button" value="4">
          4+
        </md-radio-button>
      </md-radio-group>
    </ng-template>
    <button md-raised-button placement="bottom"  #p2="ngbPopover" (document:click)="p2.close()"  (click)="$event.stopPropagation();p1.close();p3.close()"  [ngbPopover]="beds">All Beds <i class="material-icons">expand_more</i>
    </button>
    <ng-template #propertyType>
    <section class="example-section" (click)="$event.stopPropagation()">
      <md-checkbox class="example-margin" name="apartment" (change)="listingService.update()" [(ngModel)]="newSearch.propertyType.apartment">Apartment</md-checkbox>
      <md-checkbox class="example-margin" name="house" (change)="listingService.update()" [(ngModel)]="newSearch.propertyType.house">House</md-checkbox>
      <md-checkbox class="example-margin" name="villa" (change)="listingService.update()" [(ngModel)]="newSearch.propertyType.villa">Villa</md-checkbox>
    </section>

    </ng-template>
    <button md-raised-button placement="bottom" #p3="ngbPopover" (document:click)="p3.close()"  (click)="$event.stopPropagation();p1.close();p2.close()" [ngbPopover]="propertyType">All Home Types <i class="material-icons">expand_more</i>
    </button>

      <button md-raised-button color="primary">Search <i class="material-icons">search</i></button>
  </form>
</md-card>


<!--<li class="nav-item" *ngFor="let option of topMenuOptions; let i = index">
  <template #submenus>
    some submenues {{i}}
  </template>
  // assuming "option.name" is a string
  <button type="button" class="btn btn-secondary" href="#" popoverTitle="{{option.name}}" [ngbPopover]="submenus" placement="bottom"
    triggers="mouseenter:mouseleave">menu nr. {{i}}
    </button>
</li>-->