<div #container class="list-card card" [class.zIndex]="zIndex" [class.flexWidth]="!fixedWidth" [class.fixedWidth]="fixedWidth" (mouseover)="setHoverIndex()" (mouseout)="removeHoverIndex()" (click)="openDetails()">

  <img class="photo" [src]="listing.photos[0]" alt="Card image">
  <h4 class=" photo-text">R$ {{listing.price | largeNumber}}</h4>
  <div class="photo-description">
    <div class="listing-type">
      <i class="fa fa-building-o" aria-hidden="true"></i> {{listing.listingType}} <br>
    </div>
    <div class="bedrooms-bathrooms">
      <i class="fa fa-bed" aria-hidden="true"></i> {{listing.bedrooms}} <i class="fa fa-bath" aria-hidden="true"></i> {{listing.bathrooms}}
    </div>
    <div *ngIf="hasFavorite" class="heart">
      <span class="fa-stack icon-stack" id="heart{{i}}" (click)="clickFavorite($event)">
        <i class="fa fa-lg fa-heart fa-stack-1x icon-a" [class.icon-a-selected]="listing.isFavorite"></i>
        <i class="fa fa-lg fa-heart-o fa-stack-1x icon-b"></i>
      </span>
    </div>
    <div *ngIf="hasDelete" class="delete-fav">
      <span class="fa-stack fa-lg" (click)="clickDelete($event)" style="z-index:1000">
        <i class="fa fa-circle fa-stack-1x c-red"></i>
        <i class="fa fa-close fa-stack-1x c-white" style="font-size:15px"></i>
    </span>
  </div>
  
</div>

