.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-image {
    width:150px;
}

.my-drop-zone {
    border: dotted 3px gray;
    background-color: lightgrey;
}

.nv-file-over {
    border: dotted 3px red;
}
/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}


.primary-color {
    color: #3F51B5!important;
  }
.accent-color {
    color: #FF4081!important;
  }
.background-primary-color {
    background-color: #3F51B5!important;
  }
.background-accent-color {
    background-color: #FF4081!important;
  }
.white-text {
    color: #FFF!important;
}