.jumbotron {
  width: 80%
}

md-input-container {
  width: 300px;
}
body,
html {
  height: 100%;
}

@media (min-width: 576px) {
  #left {
    position: fixed;
    top: 56px;
    bottom: 0;
  }
  #wrap1 {
    height: 400px;
    border: solid 1px red;
  }
    #wrap2 {
    margin: 0;
  }
}

  #wrap2 {
    margin: auto;
  }
