@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 30px;
    right: 35px;
  }
}

@media (max-width: 800px) {
  .desktop-filters {
    display: none;
    /* hide it on small screens */
  }
  .filter-button {
    display: block!important;
    margin-bottom: 10px;
  }
  #addressSearchBox {
    width: 200px;
  }
}

.container-fluid {
  vertical-align: middle;
}

md-card {
  margin-top: 80px;
}

#filterSearchCard {
  position: fixed;
  top: 73px;
  right: 0;
  left: 0;
  z-index: 990;
  margin-top: 0;
  padding-left: 10px;
  padding-top: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: white;
}

#addressSearchBox {
  width: 289px;
}

.spin-cog {
  color: #00bcd4;
}

.spinner-container {
  float:right; 
  padding-top:10px;
}

#address-breadcrumbs {
  padding-bottom:5px;
}

.font-smaller {
  font-size:smaller;
}

.filter-button {
  display: none;
  }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay * {
  color: rgba(0,0,0,.54);
  transition: 0.3s;
}

.overlay *:hover,
.overlay *:focus {
  color: black;
}

.overlay .closebtn:hover,
.overlay .closebtn:focus {
  text-decoration: none;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 50px;
}
