<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="http://www.homesinrio.com/img.aspx?s=web1_&p=/uploads/media/03062011200806_34/Appartement_702/panorama_view_from_terrace_pic1.jpg"
            alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
