.list-card {
  min-width:205px;
  cursor:pointer;
  width:32%;
  float:left;
  border-radius: 8px 8px 0 0;
  margin:4px;
  overflow: hidden;
 /* padding:20px 0;*/

}
.photo {
  height:160px;
}
.cardContainter {
  height:274px;
  float:left;
  padding-top:10px!important;
  position:relative;
  background-color:#fff;
}

.cardPhoto {
  color: black;
  border-radius: 4px 4px 0 0;
  width:100%;
  background-size:cover!important;
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom-width:1px!important;
  border-bottom-style:solid;
  border-bottom-color:#cdd0d2;
}



	@media (max-width: 768px) {
		.list-card {
      width: 100%;
		}
    .photo-text {
      top: 75%;
    }  
    .photo {
      height:200px;
    }
	}

.no-break {
   white-space: pre;
}
/*  white-space: pre;*/

.property-villa {
  background-image: url('/assets/villa.svg');
  background-size: cover;
}
.property-house {
  background-image: url('/assets/house.svg');
  background-size: cover;
}

.property-apartment {
  background-image: url('/assets/apartment.svg');
  background-size: cover;
}


@keyframes pulse_animation {
	0% { transform: scale(1); }
	50% { transform: scale(1.1); }
	100% { transform: scale(1); }
}
@keyframes pulse_animation_opacity {
	0% {  opacity: 0.5; }
	50% { opacity: 0.8; }
	100% { opacity: 0.5; }
}

.heart {
  position: absolute;
  top: 5%;
  left: 80%;
}

.icon-stack:hover {
  /*transform: scale(1.3);*/
  	animation-name: pulse_animation;
	animation-duration: 1000ms;
/*	transform-origin:70% 70%;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.icon-stack {
  transition:all 0.3s ease;
}

.icon-a {
    color: black;
    opacity: 0.3;
}

/*.icon-a:hover {
  animation-name: pulse_animation_opacity;
	animation-duration: 1000ms;

	animation-iteration-count: infinite;
	animation-timing-function: linear;

}*/
.icon-b {
    pointer-events : none;
    color: white;
}

.search-results {
			height: 100%;
			/*overflow: scroll;*/
      overflow-x:hidden;
     
		}


.loader {
  text-align: center;
  width:100%;
}

.photo-description {
 
  color:black;
  background-color:white;
}

.photo-text {
   position: absolute; 
   top: 60%; 
   left: 0px; 
   width: 100%; 
   color: white;

   font: bold 20px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 10px; 
}